$form-track-range-bg: var(--bs-primary-border-subtle);

@import '../node_modules/bootstrap/scss/bootstrap';

td {
  min-width: 200px;
  max-width: 200px;
  overflow-wrap: break-word;
}

.controls {
  grid-template:
    'region-label region-input' auto
    'errors-label errors-input' auto
    '     .       errors-range' auto
    ' seed-label   seed-input ' auto
    / auto 1fr;
}

@include media-breakpoint-down(lg) {
  .region {
    &-label {
      grid-area: region-label;
    }
    &-input {
      grid-area: region-input;
    }
  }

  .errors {
    &-label {
      grid-area: errors-label;
    }
    &-range {
      grid-area: errors-range;
    }
    &-input {
      grid-area: errors-input;
    }
  }

  .seed {
    &-label {
      grid-area: seed-label;
    }
    &-input-group {
      grid-area: seed-input;
    }
  }
}

@include media-breakpoint-up(lg) {
  td {
    max-width: 300px;
  }

  .controls {
    grid-template: none;
    grid-auto-flow: column;
  }

  .errors-range {
    width: 8em;
  }

  .errors-input {
    width: 5.25em;
  }

  .seed-input {
    width: 7em !important;
  }
}
